Repository instill-ai/connector-backend, pull requests merged in 2023-09, with the labels that each got.

#163 chore(metric): add pipeline release info in metric data
  pkg/handler/publicHandler.go
  pkg/utils/utils.go
Labels: 💧 Instill VDP

#164 chore(metric): fix wrong uid assignment
  pkg/utils/utils.go
Labels: 💧 Instill VDP

#165 chore: increase grpc message size limit
  cmd/main/main.go
  pkg/constant/constant.go
Labels: 💧 Instill VDP

#168 fix(proto,handler): use `int32` in proto pkg to prevent the `total_size` converted to `string`
  go.mod
  go.sum
  pkg/handler/privateHandler.go
  pkg/handler/publicHandler.go
  pkg/usage/usage.go
Labels: 💧 Instill VDP

#171 chore(service): remove unsafe user_id injection and update default_user_id
  cmd/main/main.go
  pkg/constant/constant.go
  pkg/service/service.go
Labels: 💧 instill-vdp

#170 test(integration): add authentication in integration tests
  integration-test/const.js
  integration-test/grpc-data-connector-definition.js
  integration-test/grpc-data-connector-private.js
  integration-test/grpc-data-connector-public-with-jwt.js
  integration-test/grpc-data-connector-public.js
  integration-test/grpc.js
  integration-test/rest-data-connector-definition.js
  integration-test/rest-data-connector-private.js
  integration-test/rest-data-connector-public-with-jwt.js
  integration-test/rest-data-connector-public.js
  integration-test/rest-data-connector.js
  integration-test/rest.js
Labels: 💧 instill-vdp

#172 docs(readme): update readme and contributing guidelines
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  README.md
Labels: 💧 instill-vdp

#173 docs(contributing): update contributing guidelines and labeler
  .github/CONTRIBUTING.md
  .github/labeler.yml
  README.md
Labels: 💧 instill-vdp

#174 refactor(connector): adopt new connector interfaces
  go.mod
  go.sum
  pkg/connector/connector.go
  pkg/handler/publicHandler.go
  pkg/service/service.go
  pkg/usage/usage.go
Labels: instill vdp
